#main {
    margin-right: auto;
    width: 70%;
}

.short_input {
    width: 30px;
}

.book {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

.cart {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: #E8E8E8;
    min-width: 30%;
}

.gumb {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

.gumb:hover {
    background-color:#4095c6;
}
